body {
  background-image: url("https://i.pinimg.com/564x/93/32/4f/93324ff1970fbee4e239003901976d78.jpg");;
  font-family: "Roboto", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  
}
a {
  color:#01352c;
}

.weather-app {
  background: #bad8b6;
  max-width: 600px;
  margin: 150px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #01352c;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}

main {
  padding: 30px 0;
}

.current-temperature {
  display: flex;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}
.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #4c9173; }

.current-temperature-icon {
  width: 88px;
  height: 88px;
}

.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
  color:#01352c ;
  font-weight: bold;
}

.current-temperature-unit {
  margin-top: 16px;
  font-size: 28px;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;

  color: rgba(39, 33, 66, 0.4);
}
h1{
  color: #01352c;
}

strong{color: #61b390;}